.body {
  background: #66ff99;
  height: 100%;
}


.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  width: full;
  height: 100px;
}

.description {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  justify-content: center;
  text-align: center;
}

.description h1 {
  font-size: 40px;
  text-align: left;
  align-items: center;
  padding: 20px;
  margin: 10px;
  color: red;
}

.description a {
  font-size: 30px;
  top: 20%;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  whitespace: normal;
}

.video {
  width: 600px;
  height: 450px;
  border-radius: 65px;
}

.btns {
  margin: auto;
  height: full;


}

.btn {
  margin: 40px;
  font-size: 20px;
  justify-items: center;
  background: red;
  padding: 22px 40px 22px 40px;
  border-radius: 50px;
  border: 0;

}

.btncom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  margin: 0rem;
}

.rightSide {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  



}

.snapshot {
  margin: 30px;
  font-size: 20px;
  justify-items: center;
  background: red;
  padding: 22px 40px 22px 40px;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
}

.vidParent {
  position: relative;
  width: 600px;
  height: 450px;
}


.vidOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #ff3333;
  width: 100%;
  height: 100%;
  opacity: 20%;
  border-radius: 65px;
}

.snapshotOver {
  margin: 500px;
  width: 50px;
  height: 100vh;
}